article > h1 {
    display: inline-block;
    border: none;
}
article > h1 > a {
    color: inherit;
    text-decoration: inherit;
    font-size: 1.5em;
}

article > article h1,
article > article h2,
article > article h3,
article > article h4,
article > article h5 {
    font-size: 1em;
    text-align: left;
    border: none;
    padding: 0;
    margin: 1em 0 .5em 0;
}
article > article h1 {font-size: 1.2em}
article > article h2 {font-size: 1.1em}
article > article h3 {font-size: 1em}
article > article h4 {font-size: .9em}
article > article h5 {font-size: .8em}

article > article pre {
    font-size: .9em;
    line-height: 1.1em;
    background: #efefef;
    width: auto;
    overflow: auto;
    padding: 1em;
}
.logo {
    font-size: 4em;
}
.opml {
    font-size: 1em;
    padding: 0;
    border: none;
}
